@font-face {
    font-family: 'DooM';
    src: local("DooM"), url(./fonts/DooM.ttf) format('truetype');
}

html * {
    font-family: 'DooM', sans-serif !important;
    color: #9a0100 !important;
}

.transparent-item {
    background: rgba(228, 214, 221, 0.9);
}

.custom-button {
    color: #9A6666 !important;
    background: rgb(13, 6, 10);
    border: 1px solid #9A6666;
}

.custom-button:hover, .custom-button:focus {
    color: rgb(13, 6, 10) !important;
    background: #9A6666;
    border: 1px solid rgb(13, 6, 10);
    font-weight: bolder;
}

.launch-button {
    color: #9A6666 !important;
    background: rgb(13, 6, 10);
    border: 1px solid #9A6666;
}

.launch-button:focus, .launch-button:hover {
    color: white !important;
    background: #9A6666;
    border: 1px solid rgb(13, 6, 10);
    font-weight: bolder;
}

.list-group-item.active {
    background: #9A6666 !important;
    color: white !important;
}

.list-group-item:focus {
    border-width: thick;
}

.modal-list-item:focus, .modal-list-item:hover {
    border: 3px solid rgb(13, 6, 10);
    font-weight: bolder !important;
}

.add-icon {
    color: green !important;
}

.remove {
    color: red !important;
}
